# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
output/

# pyenv
.python-version

*.png
*.zip
*.npz
*.npy
*.jpg
*.jpeg
*.txt
*.png
*.nii.gz 
*.nii
*.tif
*.bmp
*.pkl
*.xml
*.pkl
*.pdf
*.png
*.jpg
*.jpeg

!synthsegLesion/images/schema_methode_general.png
